---
/**
    BlogCard component
    Graphic to display blog posts in /blog.
    Consists of a banner img, a title, a subtitle and date of publication.
*/

const {
    postLink,
    coverImage,
    postDate,
    postTitle,
    postDescription
} = Astro.props;

---

<a class="blog-link" href={postLink}>
    <div class="card-container">
        <div class="cover">
            <img class="cover-img" src={coverImage} alt="cover" />
        </div>
        <div class="footer">
            <span class="title">{postTitle}<br></span>
            <span class="desc">{postDescription}<br></span>
            <span class="date">{postDate}</span>
        </div>
    </div>
</a>

<style>
    .blog-link{
        width: 0;
    }
    
    .card-container {
        transition: 0.1s;
        display: flex;
        flex-direction: column;
        height: 17em;
        width: 30rem;
        background: #1e1d21;
        border-radius: 5px;
        margin: 0.5rem;
        filter: drop-shadow(0px 0px 3px #d3c3e970);
        outline: 1px transparent solid;
        overflow: hidden;
    }
    .blog-link:hover > .card-container {
        outline: 1px #d3c3e9 solid;
    }

    .cover {
        transition: 0.2s;
        height:20em;
        display: flex;
        border-radius: 5px 5px 0 0;
        background: #3c363b;
        overflow: hidden;
        justify-content: center;
        

        img {
            position: absolute;
            max-width: 102%;
            width: 100%;
            margin-top: -10%;
            object-fit: cover;
        }
    }

    .footer {
        transition: 0.1s;
        background: #1e1d21;
        outline: 1px #d3c3e950 solid;
        padding: 0.5em 0.9em;
        z-index: 2;
    }
    .blog-link:hover > .card-container > .footer {
        outline: 1px #d3c3e9 solid;
    }


    .title {
        transition: 0.2s;
        font-size: 2rem;
        font-weight: bold;
    }
    .desc {
        transition: 0.2s;
        font-size: 1.2rem;
        font-style: italic;
        color: #eee;
    }
    .date {
        transition: 0.2s;
        position: absolute;
        bottom: 0.1rem;
        right: 0.3rem;
        font-size: 0.8rem;
    }
    
    @media (max-width: 730px) {
        .card-container {
            width: 40rem;
            height: 23rem;
        }
        .title {
            font-size: 3rem;
        }
        .desc {
            font-size: 1.7rem;
        }
        .date {
            font-size: 1.3rem;
        }
    }

</style>