---
import pillowImage from "../assets/buttons/pillow.png"
import eightyeightImage from "../assets/buttons/88x31.png"
import clipstudioImage from "../assets/buttons/clipstudiopaint.png"
import ffxivImage from "../assets/buttons/ffxiv.gif"
import gothImage from "../assets/buttons/gothzip.png"
import notniteImage from "../assets/buttons/notnite.png"
import astroImage from "../assets/buttons/astro.png"
import cobaltImage from "../assets/buttons/cobalt.png"
import raflImage from "../assets/buttons/raflcoopter.gif"
import memImage from "../assets/buttons/mem451.png"
import liyImage from "../assets/buttons/boxy.webp"
import jayImage from "../assets/buttons/jay.png"
---

<!-- yes i know this looks like shit dont worry about it -->

<div class="button-container">
    <div class="button">
        <img
            src={pillowImage.src}
            alt="yummypillow.art"
        >
    </div>

    
    <div class="button">
        <a href="https://notnite.com">
            <img
                src={notniteImage.src}
                alt="NotNite"
            />
        </a>
    </div>
    

    
    <div class="button">
        <a href="https://eightyeightthirty.one">
            <img
                src={eightyeightImage.src}
                alt="88x31"
            />
        </a>
    </div>

    
    <div class="button">
        <a href="https://na.finalfantasyxiv.com/">
            <img
                src={ffxivImage.src}
                alt="Final Fantasy XIV"
            />
        </a>
    </div>



    <div class="button">
        <a href="https://goth.zip">
            <img
                src={gothImage.src}
                alt="goth.zip"
            />
        </a>
    </div>



    <div class="button">
        <a href="https://www.clipstudio.net/en/">
            <img
                src={clipstudioImage.src}
                alt="Clip Studio Paint"
            />
        </a>
    </div>



    <div class="button">
        <a href="https://astro.build/">
            <img
                src={astroImage.src}
                alt="Astro"
            />
        </a>
    </div>



    <div class="button">
        <a href="https://cobaltmusic.fi/">
            <img
                src={cobaltImage.src}
                alt="Cobalt Music"
            />
        </a>
    </div>



    <div class="button">
        <a href="https://raflcoopter.carrd.co/">
            <img
                src={raflImage.src}
                alt="Raflcoopter"
            />
        </a>
    </div>

    <div class="button">
        <a href="https://mem451.com/">
            <img
                    src={memImage.src}
                    alt="Mem451"
            />
        </a>
    </div>
    
    <div class="button">
        <a href="https://boxy.neocities.org/">
            <img
                    src={liyImage.src}
                    alt="boxy.neocities.org"
            />
        </a>
    </div>

    <div class="button">
        <a href="https://hl2.sh/">
            <img
                    src={jayImage.src}
                    alt="jay"
            />
        </a>
    </div>

</div>

<style>
    .button-container {
        display: flex;
        flex-direction: row;
        gap: 3px;
        flex-wrap: wrap;
    }
    .button {
        position: relative;
        width: 88px;
        height: 31px;
        image-rendering: pixelated;
    }
    a {
        display: block;
        width: 0;
        height: 0;
    }
    a:hover {
        background: none;
    }
</style>