---
/**
    MediaCard component
    Main method of displaying images in the doc element.
    Can be aligned left or right via variables. Will default to center.
*/
const {
    image, footer, alt, width, height, float, border
} = Astro.props;

let padVarLeft, padVarRight, borderVar;
switch (float) {
    case "left":
        padVarLeft = "0";
        padVarRight = "1rem";
        break;
    case "right":
        padVarLeft = "1rem";
        padVarRight = "0";
}
if (border == "legacy") {
    borderVar = "1px #737374 solid";
} else {
    borderVar = {border};
}
---

<aside>
    <div class="media-card">
        <img
            src={image.src}
            alt={alt}
            title={alt}
        />
        <div class="media-footer">
            <span>{footer}</span>
        </div>
    </div>
</aside>

<style define:vars={{float, alt, height, width, padVarLeft, padVarRight, borderVar}}>
    .media-card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 var(--padVarRight) 0 var(--padVarLeft);
        float: var(--float);
        height: var(--height);
        width: max-content;
        
        border: var(--borderVar);
        
        img {
            height: var(--height);
            width: var(--width);

        }
    }
    
    .media-footer {
        position: relative;
        height: auto;
        margin-left: 4px;
    }
</style>