---
import Layout from "../layouts/Layout.astro"

interface Props {
    title: string;
    description: string;
    date: Date;
    cover?: string;
    ignoreAgeWarning?: boolean;
}
const { title, description, date, cover, ignoreAgeWarning } = Astro.props;
const dateStr = date.toISOString().split("T")[0];

const oldThreshold = 365 * 24 * 60 * 60 * 1000;
let old = Date.now() - date.getTime() > oldThreshold;
if (ignoreAgeWarning) old = false;
---
<head>
    <meta property="og:image" content={cover}/>
    <meta name='twitter:image' content="summary_large_image" />
</head>


<Layout
    title={title}
    description={description}
    hideDescription={false}
    cover={cover}
>
    <span class="date">Posted&nbsp;<strong>{dateStr}</strong></span>
    <slot/>
</Layout>

<style>
    .date {
        display: flex;
        justify-content: right;
        position: absolute;
        right: 0;
        top: 5.5rem;
        font-style: italic;
        font-size: 0.8em;
    }
</style>