---
/**
    Blogpost.astro
    Layout specifically for blog posts. Handles link metadata (for Discord/Twitter/BlueSky embeds).
    */
import Layout from "../layouts/Layout.astro"

interface Props {
    title: string;
    description: string;
    date: Date;
    cover?: string;
}
const { title, description, date, cover } = Astro.props;
const dateStr = date.toISOString().split("T")[0];

---
<head>
    <meta charset="utf-8" />
    <meta property="twitter:image" content={cover}/>
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:card' content="summary_large_image" />
</head>

<Layout
    title={title}
    description={description}
    hideDescription={false}
    cover={cover}
>
    <span class="date">Posted&nbsp;<strong>{dateStr}</strong></span>
    <slot/>
    
    <hr/>
    <div class="giscus"/>
</Layout>

<style>
    .date {
        display: flex;
        justify-content: right;
        position: absolute;
        right: 0;
        top: 5.5rem;
        font-style: italic;
        font-size: 0.8em;
    }
</style>

<script src="https://giscus.app/client.js"
        data-repo="deadproprietary/futon-reform"
        data-repo-id="R_kgDON6JC7A"
        data-category="Announcements"
        data-category-id="DIC_kwDON6JC7M4Ctq2r"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="catppuccin_mocha"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>