---
import Layout from "../layouts/Layout.astro"

interface Props {
    title: string;
    description: string;
    date: Date;
    cover?: string;
}
const { title, description, date, cover } = Astro.props;
const dateStr = date.toISOString().split("T")[0];

---
<head>
    <meta property="og:image" content={cover}/>
    <meta name='twitter:site' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:card' content="summary_large_image" />
    <meta name='twitter:image:src' content={cover} />
</head>

<Layout
    title={title}
    description={description}
    hideDescription={false}
    cover={cover}
>
    <span class="date">Posted&nbsp;<strong>{dateStr}</strong></span>
    <slot/>
</Layout>

<style>
    .date {
        display: flex;
        justify-content: right;
        position: absolute;
        right: 0;
        top: 5.5rem;
        font-style: italic;
        font-size: 0.8em;
    }
</style>